In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [7]:
latest_ratings = pd.read_csv("latest_merlin_ratings.csv", index_col='id')
latest_ratings.shape

(854, 18)

In [8]:
latest_ratings.head()

,name,security_type,city,state_name,annual_revenue,business_type,staff_pick,start_date,entity_id,price_rating,market_rating,team_rating,performance_rating,overall_rating,differentiation_rating,overall_average,risk_rating,financials_risk_rating
id,,,,,,,,,,,,,,,,,,
1,2XL Swagger Brands,Equity - Common,Austin,Texas,325734.0,277,250,2020-06-05 00:00:00,55867,1.8,3.1,4.4,3.5,3.7,3.1,3.19,0.0,0.0
2,Monetran,Equity - Tokens,Hockessin,Delaware,0.0,66,250,2020-06-05 00:00:00,55639,4.8,4.8,1.4,1.0,2.9,2.5,2.89,0.0,0.0
3,Piestro,Equity - Common,Santa Monica,California,0.0,277,248,2020-06-05 00:00:00,56026,3.1,3.7,4.2,1.0,3.7,3.7,3.15,0.0,0.0
4,Hundy,Convertible Note,Miami,Florida,26815.0,66,250,2020-06-05 00:00:00,55842,3.7,3.7,2.7,2.9,3.3,2.1,3.02,0.0,0.0
5,Snailz,SAFE,New York,New York,69932.0,277,248,2020-06-03 00:00:00,55599,2.7,3.5,1.8,3.1,2.3,2.5,2.73,0.0,0.0

In [10]:
new_df = latest_ratings[['name', 'security_type', 'state_name', 'annual_revenue', 'overall_rating', 'business_type', 'staff_pick', 'start_date']]
new_df.head()

,name,security_type,state_name,annual_revenue,overall_rating,business_type,staff_pick,start_date
id,,,,,,,,
1,2XL Swagger Brands,Equity - Common,Texas,325734.0,3.7,277,250,2020-06-05 00:00:00
2,Monetran,Equity - Tokens,Delaware,0.0,2.9,66,250,2020-06-05 00:00:00
3,Piestro,Equity - Common,California,0.0,3.7,277,248,2020-06-05 00:00:00
4,Hundy,Convertible Note,Florida,26815.0,3.3,66,250,2020-06-05 00:00:00
5,Snailz,SAFE,New York,69932.0,2.3,277,248,2020-06-03 00:00:00

In [14]:
states_pvt_table = new_df.pivot_table(values=['overall_rating'], index=['state_name'], aggfunc=[np.mean, lambda x: len(x.unique())])
states_pvt_table

                               mean       <lambda>
                     overall_rating overall_rating
state_name
Alabama                    2.100000            1.0
Arizona                    2.720000            7.0
California                 3.074684           20.0
Colorado                   2.540000           10.0
Connecticut                2.466667            3.0
Delaware                   1.688889            5.0
District of Columbia       2.766667            3.0
Florida                    2.518182           18.0
Georgia                    2.677778            8.0
Hawaii                     2.333333            3.0
Idaho                      2.000000            4.0
Illinois                   2.655556            7.0
Indiana                    3.100000            4.0
Kentucky                   2.425000            4.0
Louisiana                  1.966667            3.0
Maine                      1.800000            1.0
Maryland                   3.640000            7.0
Massachusetts              2.931818           13.0
Michigan                   3.100000            8.0
Minnesota                  2.316667            6.0
Missouri                   2.400000            3.0
Montana                    1.800000            1.0
Nebraska                   4.600000            1.0
Nevada                     2.250000            3.0
New Hampshire              2.733333            3.0
New Jersey                 2.958333            7.0
New Mexico                 3.550000            2.0
New York                   3.025000           20.0
North Carolina             2.690909            9.0
North Dakota               1.400000            1.0
Ohio                       2.288889            6.0
Oklahoma                   2.250000            2.0
Oregon                     3.388889            8.0
Pennsylvania               2.266667           10.0
Puerto Rico                1.633333            3.0
Rhode Island               3.900000            1.0
South Carolina             1.980000            4.0
Tennessee                  1.920000            4.0
Texas                      3.123810           17.0
Utah                       3.700000            5.0
Vermont                    1.750000            2.0
Virginia                   2.850000            8.0
Washington                 2.993750           11.0
Wisconsin                  2.940000            5.0
Wyoming                    1.200000            2.0

In [26]:
# staff_pick_pvt_table = new_df.pivot_table(values=['staff_pick'], index=['staff_pick'], aggfunc='count')
# staff_pick_pvt_table

ValueError: Grouper for 'staff_pick' not 1-dimensional

In [27]:
staff_pick_count = new_df.groupby('staff_pick')['staff_pick'].count()
staff_pick_count

staff_pick
0         2
247      33
248     150
249      41
250     550
6163     78
Name: staff_pick, dtype: int64

In [28]:
count_test = new_df['staff_pick'].value_counts()
count_test

250     550
248     150
6163     78
249      41
247      33
0         2
Name: staff_pick, dtype: int64

In [31]:
overall_rating = new_df['overall_rating']

overallrating_bool = overall_rating > 4
overallrating_bool

id
1       False
2       False
3       False
4       False
5       False
6       False
7       False
9        True
10      False
11       True
14       True
15      False
16       True
17      False
18       True
21       True
22      False
23       True
25      False
26      False
28      False
29       True
30      False
32      False
35      False
36       True
37       True
38       True
39      False
40       True
        ...
2368    False
2369    False
2372    False
2375    False
2376     True
2380    False
2381    False
2382    False
2383    False
2384    False
2386    False
2387    False
2388    False
2389    False
2390     True
2391    False
2392     True
2395    False
2396    False
2399    False
2400    False
2402     True
2404     True
2406     True
2407    False
2408     True
2410    False
2411    False
2413    False
2422    False
Name: overall_rating, Length: 854, dtype: bool

In [32]:
overall_4 = new_df['overall_rating'][new_df['overall_rating'] > 4].value_counts()
overall_4

5.0    42
4.8    41
4.6    40
4.4    35
4.2    29
Name: overall_rating, dtype: int64